<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>River of Ebooks</title>
    <base href="/">
    <link rel="stylesheet" href="index.css" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1" />
  </head>
  <body class='home flex-container flex-vertical'>
    <%- partial('../shared/header.html') %>
    <main class="flex">
      <section class="paper">
        <%- content %>

        <% if (feedItems.length) { %>
          <h2>Recently published ebooks</h2>
          <ul class="feed">
            <% for(const item of feedItems) { %>
              <li>
                <div class="title flex-container">
                  <div class="stack flex">
                    <h3><a href="<%= item.opds.links.length ? item.opds.links[0].href : '#' %>"><%= item.title %></a></h3>
                    <h4><%= item.author %> - <%= item.publisher %></h4>
                  </div>
                  <span class="timestamp"><%= new Date(item.created_at).toLocaleDateString('en-US', { month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %></span>
                </div>
                <div class="tags">
                  <% for (const tag of JSON.parse(item.tags)) { %>
                    <span><%= tag %></span>
                  <% } %>
                </div>
              </li>
            <% } %>
          </ul>
        <% } %>
      </section>
    </main>
    <%- partial('../shared/footer.html') %>
  </body>
</html>
